  
/* Página inicial do usuário (cadastro de currículo) */
  .entrar a{
    float: right;
    padding: 10px;
    text-decoration: none;
    color: white;
  }

  .container {
     
      padding-left: 10px;
      padding-right: 10px;
      width: 540px;
      height: 300;
  }

  .login-index-form {
      width: 500px;
      height: 400px;
      
  }
  .depoimentos-list {
      background-color: white;
      height: 300px; 
      margin: 0px;
  }

  #text-element-email {
      margin-left: 30px;
      width: 400px;
      height: 50px;
      font-size: 21px;
      border: 1px solid;
  }
  #text-element-senha {
      margin-left: 30px;
      width: 400px;
      height: 50px;
      font-size: 21px;
      border: 1px solid;
  }

  .btn-entrar {
      margin-left: 350px;
  }

  .footer{
      width: 100%;
      height: 190px;
      margin-top: 220px;
      background-color: black;

  }
/* FIM da página inicial do usuário (cadastro de currículo) */


/* Primeira etapa do cadastro */
    .inputform{
        width: 500px;
        height: 40px;
        font-size: 21px;
        border: 1px solid;
        
    }
    
    #inputemail{
        width: 500px;
        height: 40px;
        font-size: 21px;
        border: 1px solid;
    }
    
    #inputsenha{
        width: 500px;
        height: 40px;
        font-size: 21px;
        border: 1px solid;
    }
    
    .btn-form-cadastro{
           margin-left: 300px;
    }

/* FIM da primeira etapa do cadastro */      